* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
    user-select: none;
    color: white;
    /* box-sizing: border-box; */
}
main {
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#scoreBoard {
    border: 2px solid red;
    padding: 9px;
}
#msgBox {
    border: 2px solid green;
    padding: 9px;
}
#playingArea {
    justify-content: center;
    border: 2px solid rgb(218, 218, 218);
    background-color: rgba(41, 43, 43, 0.792);
    border-radius: 12px;
    height: 30vh;
    overflow: hidden;
    display: flex;
    width: 43vh;
}
/* #playingArea img {
    width: 100%;
    height: 100%;
    z-index: 0;
} */
#userChoice {
    /* border-radius: 23%; */
    padding: 9px;
    /* margin-top: 10px; */
    /* border: 2px solid gray; */
    /* width: 56px; */
    display: flex;
    gap: 12px;
}
#restratBtn {
    border-radius: 12px;
    padding: 5px 9px;
    border: 2px solid blue;
}

.userChoices {
    display: flex;
    flex-direction: row;
    padding: 23px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    border: 2px solid red;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /* background-size: cover;
    background-position: center; */
}
#warArea {
    /* display: none; */
    /* z-index: 2; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 2px solid green;
    /* padding: -9px; */
    /* gap: 12px */
    /* background-color: aqua; */
}
.warGoing {
    width: 100%;
    height: 14vh;
    /* border: 2px solid white; */
    /* padding: 6px; */
    /* margin: 11px; */
    justify-content: center;
    display: flex
;
}
.warGoing img {
    filter: invert();
    height: 196%;
}

/* #o1 img {

}
#o2 img {
    
}
#o3 img {
    
} */
.userChoices img {
    width: 140px;
    height: 170px;
    margin-top: 15px;
    filter: invert();
}
/* @media screen and (max-width: 400px) {
    #playingArea {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    #playingArea {
        width: 80%;
    }
} */
